<!DOCTYPE HTML>
<html lang="en">
    <head></head>
    <body>
        <h1>Welcome to BookStore</h1>
        <h4>Your first choice for online book ordering!</h4>

        <form action="/submit_order" method="post">
            <label for="username">Enter your username:</label>
            <input type="text" id="username" name="username"><br>
            
            <label for="bookname">Book name you want to order:</label>
            <input type="text" id="bookname" name="bookname"><br>
            
            <label for="quantity">Book quantity:</label>
            <input type="text" id="quantity" name="quantity"><br>
            <input type="submit" value="Submit Order">
        </form>
    </body>
</html>